*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #fcdbed;
    color: #333;
    line-height: 1.5;
  }

  
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #edd2e1;
    color:rgba(113, 112, 113, 0.553);
    padding: 20px;
  }

  header h1 {
    font-size: 40px;

  }

  header img {
    border-radius: 50%;
    border: 4px solid white;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }

  
  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1000px;
    margin: auto;
  }

  section {
    background-color: #fff;
    padding: 15px;
    border-radius: 30px;
  }

  section h2 {
    color: #818282;
    margin-bottom: 20px;
    text-align: center;
  }

  section p, section ul {
    margin-bottom: 10px;
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  ul li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
  }

  
  table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
  }

  th, td {
    padding: 10px;
    border: 1px solid #5e0986;
  }

  th {
    background-color: #d0d0d0;
    color: white;
  }

  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 15px;
    margin-top: 20px;
  }

  footer a {
    color: #f888de;
    text-decoration: none;
    font-weight: bold;
    margin-left: 5px;
  }